.Lobby{
    position: absolute;
    background: url("./Lobby.jpg");
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -o-background-size: cover;                
    background-size: cover;
   
}
.Sport{
    position: absolute;
    background: url("./SportsRoom.jpg");
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -o-background-size: cover;                
    background-size: cover;
   
}
.Dining{
    position: absolute;
    background: url("./DiningRoom.jpg");
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -o-background-size: cover;                
    background-size: cover;
   
}
.Device{
   width:12%;
   height:25%
}
