.Home {
    
    margin: 0 10px;
    color: red;
    font-size: 0px;
    
    
   

    
}
.Visitor {
    margin: 0 10px;
    color: yellow;
    font-size: 0px;
    
}
.Basketball {
    margin: 0 10px;
    color: blue;
    font-size: 0px;
    
}