.Canvas{
            
    position: absolute;
    left: 240px;
    top: 180px;

}
.Background {
   background: '#000';
}
.Basketball_Background {
    
 
    position: absolute;
    /* left: 100px; */
    left:240px;
    top: 180px;
    text-align: center;
    
    vertical-align: middle;
}
.Input {
    position: absolute;
    left: 400px;
    top: 900px;
}
.Home {
    margin: 0 10px;
    color: red;
    font-size: 0px;
   

    
}
.Visitor {
    margin: 0 10px;
    color: yellow;
    font-size: 0px;
    
}
.Basketball {
    margin: 0 10px;
    color: blue;
    font-size: 0px;
    
}
.siderStyle  {
    
  
    position:absolute;
    
    /* left:1320px; */
    left:1440px;
    top:72px;
    
    
    
    

    
    
};

.App {
    background: -moz-linear-gradient(
    106.37deg,
    #e6fffb 29.63%,
    #36cfc9 51.55%,
    
    
    #13c2c2 90.85%,
    
    );
    height:100vh;
    display: flex;
    font-family: 'Inter',sans-serif;
}
