.Canvas{
            
    position: absolute;
    left: 200px;
    top: 155px;

}

.Basketball_Background {
    
 
    position: absolute;
    /* left: 100px; */
    left:200px;
    top: 125px;
    text-align: center;
    
    vertical-align: middle;
}
.Input {
    position: absolute;
    left: 400px;
    top: 900px;
}
.Home {
    margin: 0 10px;
    color: red;
    font-size: 0px;
    
}
.Visitor {
    margin: 0 10px;
    color: yellow;
    font-size: 0px;
    
}
.Basketball {
    margin: 0 10px;
    color: blue;
    font-size: 0px;
    
}
.siderStyle  {
    
  
    position:absolute;
    
    /* left:1320px; */
    left:1420px;
    top:80px;
    
    
    
    

    
    
};


