.login-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("./SmatHomeLogin.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -o-background-size: cover;                
    background-size: cover;
}
.logo {
    position:absolute;
    width:30px
}
.login-page {
    position: fixed;
    top: 36%;
    left: 600px;
   
    
    
}
.login-card{
    background: #f2f3f7;
    width: 420px;
    height: 350px;
    position: fixed;
    top:30%;
    left: 560px;
    border-radius: 20px;
}
.login-form-register {
    position: fixed;
    left: 600px;
    top: 60%
}

.login-form-forgot {
    position: fixed;
    left: 845px;
    top: 60%
}

.login-form-button {
    position: fixed;
    width: 300px
}