.Page {
    /* background-color:whitesmoke; */
}

.Side {
    margin-left: 40px;
    margin-top: 10px;
    display: flex;
    flex-wrap: nowrap;
    /* background-color:whitesmoke; */
}

.Contain {
    flex-wrap: wrap;
    width: 800px;
    margin-left: 20px;
    font-family: sans-serif;
}

.Title {
    --headingFont: 'Cabin', Sans-Serif;
    font: italic;
}

.Body {
    --bodyFont: 'Cabin', Sans-Serif;
}

.Upload {
    flex-wrap: wrap;
}

.Nowrap {
    flex-wrap: nowrap;
}

.Right {
    position: absolute;
    right: 30px;
    top: 80px;
}