<!doctype html>
<html class="no-js" lang="zh">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>canvas学习</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        
        <link rel="apple-touch-icon" href="icon.png">
        
    </head>
    <body>
        <canvas id="theCanvas" width="800" height="400"></canvas>
    
        <script >
            var canvas = document.getElementById('theCanvas');
            var context = canvas.getContext('2d');
            var imageObj = new Image();
      
            imageObj.onload = function() {
              context.drawImage(imageObj, 69, 50);
            };
            alert("fuck")
            imageObj.src = 'BasketballBackground.png'
        </script>
    </body>
</html>