@import '~antd/dist/antd.css';

.container {
  width: 250px;
  height: 420px;
  
  background: #f0f4f8;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}
.info{
  margin-top:0.2rem;
  margin-bottom: 0.5rem;
}

.main {
  padding: 15px;
  text-align:center;
}

p {
  margin-bottom: 1.5rem;
  max-width: 40em;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1.3;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}

h1 {
  margin-top: 0;
  color:#0b619e;
  font-size: 3.052rem;
}

h2 {
  color:#198bdd;
  font-size: 2.441rem;
}

h3 {
  color:#3a9ee6;
  font-size: 1.953rem;
}

h4 {
  color:#0b1013;
  font-size: 1.563rem;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

h5 {
  color:#0b1013;
  font-size: 1.25rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h6{
  color:#bcccdc;
}

:root{
    /* colors */
    --primary-50: #6dbbf2;
    --primary-100: #4fabec;
    --primary-200: #3a9ee6;
    --primary-300: #198bdd;
    --primary-400: #0b619e;
    /* grey */
    --grey-50: #f0f4f8;
    --grey-100: #d9e2ec;
    --grey-200: #bcccdc;
    --grey-300: #9fb3c8;
    --grey-400: #829ab1;
    --grey-500: #627d98;
    --grey-600: #486581;
    --grey-700: #334e68;
    --grey-800: #243b53;
    --grey-900: #102a43;
}
